<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/singlemovie.css">

    <body>
        <%- include('../partials/header') %>

            <body style=" width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.5)),
      url(../assets/slider-bg.jpg);
  background-size: cover;">


                <div class="container">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container text-center">
                            <h1 class="display-4 mt-5 text-white">MOVIES DB</h1>
                            <h3 class="text-white">Collection of Latest Movies Streaming Now.</h3>
                        </div>
                    </div>
                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card-group">
                                    <div class="card">
                                        <img class="card-img-top" src="../assets/img1.jpg" alt="Card image cap"
                                            id="img" />
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="carousel-caption text-start">
                                        <h1 class="text-white">JOHN WICK</h1>
                                        <p>
                                            "ANCIENT HISTORY MOVIE 3000BC."
                                        </p>

                                        <div class="cate">
                                            <span class="blue"><a href="#">Sci-fi</a></span>
                                            <span class="yell"><a href="#">Action</a></span>
                                            <span class="orange"><a href="#">adventure</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="card-group">
                                    <div class="card">
                                        <img class="card-img-top" src="../assets/img2.jpg" alt="Card image cap"
                                            id="img" />
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>LORD OF THE RINGS</h1>
                                        <p>
                                            "GALAXIAN AND INVADERS WAR AND RAGE".
                                        </p>
                                        <div class="cate">
                                            <span class="blue"><a href="#">History</a></span>
                                            <span class="yell"><a href="#">Drama</a></span>
                                            <span class="orange"><a href="#">Horror</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="card-group">
                                    <div class="card">
                                        <img class="card-img-top" src="../assets/img3.jpg" alt="Card image cap"
                                            id="img" />
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="carousel-caption text-end">
                                        <h1>LOST IN GALAXY</h1>
                                        <p>
                                            "EXPLORE AND UPHOLD THE UNIVERSAL KEYS"
                                        </p>
                                        <div class="cate">
                                            <span class="blue"><a href="#">Suspense</a></span>
                                            <span class="yell"><a href="#">documentry</a></span>
                                            <span class="orange"><a href="#">Romance</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="detailsHead text-white text-center">
                    <h1>MOVIE DETAILS PAGE</h1>
                </div>

                <div id="moviedetail">

                <div class="row">
                    <div class="col-sm-4">
                      <div class="sub-container">
                        <div class="sub-sub">
                            <img id="movieimg" src="" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="sub-container">
                        <div class="sub-sub">
                          <h2 class="card-title" id="title"></h2>
                          <!-- <iframe width="560" height="315"id="trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                          
                          <video width="560" height="315" id="trailer" controls>
                            <source src="" type="video/mp4">
                            Your trailer
                        </video>
                          <p class="card-text" id="overview"></p>
                          <h3>Tagline</h3>
                          <p id="tagline"></p>
                     
                          <h3>Genres</h3>
                          <div class="cate">
                            <span id="genres"></span>
                          
                        </div>
                     
                          <h3>Release Date</h3>
                          <p id="release_date"></p>
                      
                          <h3>Runtime</h3>
                          <p id="runtime"></p>


                          <script>const movie_id = <%=  movie_id %>;</script>
                          <script src="/js/singlemovie.js"></script>
                        </div>
                      </div>
                    </div>
                  </div>


                    <div class="row">
                        <div class="col-sm-4">
                            <div class="sub-container">
                                <div class="sub-sub">
                                    <img id="movieimg" src="" alt="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="sub-container">
                                        <div class="sub-sub">
                                            <img id="movieimg" src="" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="sub-container">
                                        <div class="sub-sub">
                                            <h2 class="card-title" id="title"></h2>

                                            <p class="card-text" id="overview"></p>
                                            <h3>Tagline</h3>
                                            <p id="tagline"></p>

                                            <h3>Genres</h3>
                                            <div class="cate">
                                                <span id="genres"></span>

                                            </div>

                                            <h3>Release Date</h3>
                                            <p id="release_date"></p>

                                            <h3>Runtime</h3>
                                            <p id="runtime"></p>

                                            <h3>Star Rating</h3>
                                            <div class="ratingcontainer">
                                                <!-- fa fa-star is used to create star icon -->
                                                <ul id="stars">
                                                    <li class="star" title="Poor" data-value="1">
                                                        <i class="fa fa-star" aria-hidden="true" id="st1"></i>
                                                    </li>
                                                    <li class="star" title="Fair" data-value="2">
                                                        <i class="fa fa-star" aria-hidden="true" id="st2"></i>
                                                    </li>
                                                    <li class="star" title="Good" data-value="3">
                                                        <i class="fa fa-star" aria-hidden="true" id="st3"></i>
                                                    </li>
                                                    <li class="star" title="Excellent" data-value="4">
                                                        <i class="fa fa-star" aria-hidden="true" id="st4"></i>
                                                    </li>
                                                    <li class="star" title="Amazing" data-value="5">
                                                        <i class="fa fa-star" aria-hidden="true" id="st5"></i>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>

                                        <div class="col-sm-8">
                                            <div class="sub-container">
                                                <div class="sub-sub">
                                                    <h2 class="card-title" id="title"></h2>
                                                    <iframe id="trailer" width="560" height="315" src=""
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>

                                                    <script>const movie_id = <%=  movie_id %>;</script>
                                                    <script src="/js/singlemovie.js"></script>
                                                    <script src="/js/starrating.js"></script>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>

                            </div>

                            <hr style="margin-bottom: 40px;">
                            <%- include('../partials/footer') %>
            </body>

</html>